@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@import '../public/css/catppuccin.css';
@import '../public/css/colors.css';

:root {
	--current-accent-color: var(--color-peach);
	--x: 100%;
	--y: 100%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme static {
	--color-accent: var(--current-accent-color);
}

@theme {
	--font-jetbrains-mono: 'JetBrains Mono', monospace;
	--animate-wiggle: wiggle 1s ease-in-out infinite;

	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-3deg);
		}
		50% {
			transform: rotate(3deg);
		}
	}
}

@layer utilities {
	.scrollbar {
		scrollbar-width: thin;
		scrollbar-color: var(--color-accent) transparent;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		border-radius: 100vh;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background-color: color-mix(in oklch, currentColor, var(--color-mantle));
	}
}

@utility link {
	@apply text-accent hover:bg-accent hover:text-mantle underline decoration-dashed underline-offset-4 duration-200;
}

@utility animation-wiggle {
	animation: var(--animate-wiggle);
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--color-base);
	color: var(--color-text);
	transition:
		background-color 0.5s ease-in-out,
		color 0.5s ease-in-out;
}

* {
	transition-property: background-color, border-color, color, fill, stroke;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

/* Leaflet map styles */
.leaflet-container {
	background: var(--color-base) !important;
}

.leaflet-tile-container {
	background: var(--color-base) !important;
}

.leaflet-pane {
	background: var(--color-base) !important;
}
